
logs
*.log
npm-debug.log*


pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage

.nyc_output


.grunt

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# Mac-specific file
.DS_Store

# ------------------------------------------------------------------------------
# CUSTOM
# ------------------------------------------------------------------------------
public/images/portfolio
resume.json
bundle.js
bundle.js.map
